/* @import '../typography.css';
@import '../variables.css'; */
@import '../variables.css';
@import './form.css';

.uniform-autocomplete
{
    display: flex;
    flex-direction: column;
    position: relative;

    input {
        @extend %text-input;
    }

    ul {
        margin: 0;
        padding: 0;
        top: 100%;
        position: absolute;
        width: 100%;
        background: var(--white);
        display: flex;
        flex-direction: column;
        list-style-type: none;
        z-index: 1;
        box-shadow: 0 0 15px 1px color-mod(black alpha(0.2)), 0 0 2px 1px color-mod(black alpha(0.1));

        @supports (backdrop-filter: blur(8px)) {
            background: color(var(--white) a(60%));
            backdrop-filter: blur(8px);
        }

        li {
            padding: 1em;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.selected {
                color: var(--green);
                /* background: var(--gray-light); */
            }

            &.focus, &:focus, &:hover {
                background: var(--gray-lighter);
            }
        }

    }
}

/* 
.error .uniform-autocomplete input, .uniform-autocomplete.error input {
    border-color: var(--red);
    color: var(--red);

    &:focus, &:hover {
        border-color: var(--red);
    }
} */
