.uniform-button-group a, .uniform-button
{
    outline: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    height: 2.25em;
    padding: 0.5em 0.75em;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    position: relative; /* for adding loaders to buttons which have position:absolute */
    /* transition: all 0.1s; */

    color: var(--gray-darkest);
    background-color: white;
    background-image: linear-gradient(var(--white) 33%, color(var(--white) shade(7%)));
    border-radius: 0.2em;
    border: 1px solid color(var(--gray-darkest) tint(40%));
    
    &.input-height
    {
        line-height: 1.4;
    }

    i
    {
        font-size: var(--larger);

        &:first-child {
            margin-right: 4px;
        }

        &:last-child {
            margin-left: 4px;
        }
    }

    &:visited
    {
        color: var(--gray-darkest);
    }

    &:hover, &.hover, &:focus
    {
        background-image: linear-gradient(var(--white) 33%, color(var(--white) shade(9%)));
    }

    &:active, &.active
    {
        box-shadow: inset 0 0 10px color(var(--black) a(0.1));
    }
    
    &.-outline
    {
        border-color: var(--gray-darkest);
        color: var(--gray-darkest);
    }

    &.-green, &.-blue, &.-red, &.-yellow
    {
        color: var(--white);
        text-shadow:0 1px 2px color-mod(var(--black) alpha(0.1));
    }

    &.-green
    {
        background: var(--green);
        background-color: color(var(--green) shade(3%));
        background-image: linear-gradient(color(var(--green) tint(5%)), color(var(--green) shade(3%)));
        border-color: color(var(--green) shade(3%));
        
        &.-outline
        {
            border-color: var(--green-dark);
            color: var(--green-dark);
        }

        &:hover, &.hover, &:focus
        {
            background-image: linear-gradient(var(--green) 33%, color(var(--green) shade(9%)));
        }
    }
    
    &.-blue
    {
        background: var(--blue);
        background-color: color(var(--blue) shade(3%));
        background-image: linear-gradient(var(--blue), color(var(--blue) shade(3%)));
        border-color: color(var(--blue) shade(3%));
        
        &.-outline
        {
            color: var(--blue);
            border-color: var(--blue);
        }

        &:hover, &.hover, &:focus
        {
            background-image: linear-gradient(var(--blue) 33%, color(var(--blue) shade(9%)));
        }
    }

    &.-red
    {
        background: var(--red);
        background-color: color(var(--red) shade(3%));
        background-image: linear-gradient(var(--red), color(var(--red) shade(3%)));
        border-color: color(var(--red) shade(3%));

        &.-outline
        {
            color: var(--red-dark);
            border-color: var(--red-dark);
        }

        &:hover, &.hover, &:focus
        {
            background-image: linear-gradient(var(--red) 33%, color(var(--red) shade(9%)));
        }
    }

    &.-yellow
    {
        background: var(--yellow);
        background-color: color(var(--yellow) shade(3%));
        background-image: linear-gradient(color(var(--yellow) tint(5%)), color(var(--yellow) shade(3%)));
        border-color: color(var(--yellow) shade(3%));
        
        &.-outline
        {
            border-color: var(--yellow-dark);
            color: var(--yellow-dark);
        }

        &:hover, &.hover, &:focus
        {
            background-image: linear-gradient(var(--yellow) 33%, color(var(--yellow) shade(9%)));
        }
    }

    &.-clear
    {
        background: none;
        border-color: transparent;
    }

    &.-outline
    {
        border-color: var(--gray-darkest);
        background: none !important;
        text-shadow: none !important;

        &.-dashed
        {
            border-style: dashed;
        }
    }

    &.-small
    {
        padding: 0.3em 0.5em;
        font-size: 0.8em;
    }

    &.-large
    {
        padding: 1em 2em;
        font-weight:bold;
    }
    
    &.-input
    {
        padding-top: 0.65em;
        padding-bottom: 0.65em;
    }
    
    &.-warn:hover
    {
        border-color: var(--red);
        background: var(--red);
        color: var(--white);
    
        &.clear
        {
            color: var(--red);
            background: none;
        }
        
        &.-outline
        {
            color: var(--red);
            border-color: color(var(--gray-darkest) tint(30%));
        }
    }
    
    &.-block
    {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
        display: block;
        width: 100%;
    }

    &.-raw
    {
        background: none;
        border: none;
        text-shadow: none;
        font-weight: normal;
        box-shadow: none;
    }

    &.-white
    {
        &.-outline
        {
            color: var(--white);
            border-color: var(--white);
        }
    }
    
    &.-gray
    {
        color: var(--gray-darker);

        &.-outline
        {
            color: var(--gray-darker);
            border-color: var(--gray-dark);
        }
    }
    
    &.-gray-dark
    {
        color: var(--white);
        background-color: color(var(--gray-dark) shade(3%));
        background-image: linear-gradient(var(--gray-dark), color(var(--gray-dark) shade(3%)));
        border-color: color(var(--gray-dark) shade(3%));

        &.-outline
        {
            color: color(var(--gray) tint(20%));
            border-color: color(var(--gray) tint(30%));
        }
    }
    
    &:disabled, &.disabled, &:disabled:hover, &.disabled:hover
    {
        cursor: not-allowed;
        color: var(--gray) !important;
        background-image: none !important;
        background-color: var(--gray-light);
        border-color: var(--gray) !important;
        text-shadow: none;

        &.disabled-dark
        {
            background-color: var(--gray-darker);
            color: var(--gray-darkest);
            border-color: var(--gray-darkest);
            opacit-g: 0.75;
        }
    }
}

.uniform-button-group select.uniform-button
{
    appearance: none;
    /* height: calc(2.3em + 2px); */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyNy4xNjdweCIgaGVpZ2h0PSIyOHB4IiB2aWV3Qm94PSIwIDAgMjcuMTY3IDI4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNy4xNjcgMjgiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnIGlkPSJpY29tb29uLWlnbm9yZSI+PC9nPjxwYXRoIGZpbGw9IiM1MDUxNTMiIGQ9Ik0xNiwxMWMwLDAuMjcxLTAuMSwwLjUwNS0wLjI5NywwLjcwM2wtNyw3QzguNTA1LDE4LjksOC4yNzEsMTksOCwxOXMtMC41MDUtMC4xLTAuNzAzLTAuMjk3bC03LTdDMC4wOTksMTEuNTA1LDAsMTEuMjcxLDAsMTFzMC4wOTktMC41MDUsMC4yOTctMC43MDNDMC40OTUsMTAuMDk5LDAuNzI5LDEwLDEsMTBoMTRjMC4yNzEsMCwwLjUwNSwwLjA5OSwwLjcwMywwLjI5N0MxNS45LDEwLjQ5NSwxNiwxMC43MjksMTYsMTF6Ii8+PC9zdmc+),
        linear-gradient(var(--white) 33%, color(var(--white) shade(7%)));
    background-position: center right, center;
    background-repeat: no-repeat, repeat;
    background-size: auto 40%, auto;
    padding-right: 1.5em !important;    
}


span.uniform-button
{
    cursor: auto;
}

a.uniform-button
{
    user-select: none; 
}

.uniform-button-group
{
     a, button, select
     {
        outline: none;
        appearance: none;
        cursor: pointer;
        font-size: 1em;
        position: relative;
        z-index: 1;
        margin-right: -1px;
        border-radius: 0;
        
        &:last-child
        {
            border-radius: 0 0.2em 0.2em 0;
        }

        &:first-child
        {
            border-radius: 0.2em 0 0 0.2em;
        }
        
        &.active, &:active
        {
            background-color: color(var(--green) shade(3%));
            background-image: linear-gradient(color(var(--green) tint(5%)), color(var(--green) shade(3%)));
            border-color: color(var(--green) shade(3%));
            color: var(--white);
        }

        &:disabled
        {
            background: var(--background);
            color: var(--gray-light);
            cursor: not-allowed;
        }
    }
}
